**/nbproject/*.mk
**/nbproject/*.bash
**/nbproject/private
**/nbproject/genfiles.properties
*.dep.inc
**dist/
*.log
**build/
*.orig
*~
*.zip
*.DS_Store
**/xcuserdata
Chat/Chat/wrapper/java/jni/libs/
Chat/Chat/wrapper/java/jni/obj/
Chat/libs/
build.xml
build-impl.xml
/Chat/Chat/wrapper/java/JChatSDK/nbproject/private/
Chat/Chat/wrapper/java/JChatSDK/bin/
Chat/Chat/wrapper/java/JChatSDK/imsdk.jar
.cproject
.project
.settings/
Debug/
Chat/Chat/wrapper/ios/appledoc/
*.o
*.d
*.out
# manually added ignored files
*.user
*.obj
*.sdf
*.suo
*.cache*
*.db